p {
    padding: 0;
    margin: 0;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.bg-card {
    border: 0;
    border-radius: 0.5rem;
    background-color: #0000aa;
    padding: 1rem;
}

.card__title {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.bg-card p, .bg-card li {
    color: white;
}